
/* ============================================================================== */
/* .cms-table{
    margin:10px 50px;
    
    }
    .cms-table th,.cms-table tr,.cms-table td{
      font-size: 1rem;
      border:1px solid var(--bs-gray-400);
      text-align: center;
      vertical-align: middle;
    }
    
    .cms-table th{
      background-color: var(--bs-gray-500);
    }
    
    .cms-table a:first-child i{
   
    color: var(--bs-green);
    margin: 0 5px;
    }
    
    .cms-table a:last-child i{
 
      color: var(--red);
      margin: 0 5px;
      }
  
      .cms-table tr td input[type=checkbox]{
        zoom:2;
       
        }

    @media (max-width: 767px) {
      .cms-table th,.cms-table tr,.cms-table td{
        font-size: 2rem;
      }
      .cms-table{
        margin:10px 10px;
        
        }
        .cms-table tr td input[type=checkbox]{
            zoom:1;
           
            }
    }
  
   */
  
  /* ========================Button ================================================== */
  
    .faculty-allSubject button a{
      text-decoration: none;
      color: var(--bs-light);
    }
  
    .faculty-allSubject button i{
      margin: 1px 5px;
    }
  
  
    /* ============================Get List================================================================== */
    .getList{
      margin-left:20px;
      font-size: 1.3rem;
      padding:20px;
  
    }
  
    .getList select{
      width:40%;
      font-size: 1rem;
      margin-left: 20px;
    }
    .getList select option{
        margin:0 auto;
        font-size: 1rem;
        
      }
  
    .getList >div{
      margin-top:10px ;
      align-items: center;
  
    }
  
  
    @media (max-width: 767px) {
      .getList select,.getList {
        font-size:2.5rem;
      }
    
    }
  