 

/* ======================================================================== */
/*  */
/*  */
/* ........................  faculty Form /....................*/
/*  */
/*  */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* 64ac15 */


.facultyform h4 {
    color: var(--yellow);
    font-size:2rem;
    margin:1rem;
  }
  
  .facultyform input:focus {
    outline: none;
    border:2px solid  var(--yellow);
    transition:0.2s ease-in-out ;
    border-radius:3px ;
    -webkit-border-radius:3px ;
    -moz-border-radius:3px ;
    -ms-border-radius:3px ;
    -o-border-radius:3px ;
}

.facultyform select option{
font-size:1em ;
padding:0px;
margin:0px;
}

.facultyform select:focus {
  outline: none;
  border:2px solid  var(--yellow);
  
  border-radius:3px ;
  -webkit-border-radius:3px ;
  -moz-border-radius:3px ;
  -ms-border-radius:3px ;
  -o-border-radius:3px ;
  
}
  

.facultyform  select {
  height:30%;
  width:95%;
  margin-bottom:1rem ;
  padding: 2%;
 
}

  
  .facultyform .input-group input {
   height:30%;
   width:90%;

   padding: 2%;
  
}
  
    .facultyform{
      zoom: 1;
    }
    .facultyform .input-group {
    margin-bottom: 1em;
    
    width:100%;
  
  }
  
  
  .facultyform .container {
      width:40%;
    max-width: 40rem;
    padding: 1rem 3rem 2rem 3rem;
    margin: 0rem auto;
    background-color: #fff;
    border-radius: 4.2px;
    
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
  }
  .facultyform .row {
    zoom: 1;
  }
  
  
  @media only screen and (max-width:600px) {
    
    .facultyform{
      zoom:0.7;
    }
  }
  
  @media only screen and (max-width:410px) {
    
    .facultyform{
      zoom:0.4;
    }
  }