/* .stuinfo div div img{
  border:10px solid rgb(0, 255, 149);
  object-fit:cover;
} */

.outerdiv{
  border:2px solid red;
  width:90rem;
  margin:auto;
  /* display: flex; */
  /* flex-direction: column; */
}

.stuinfo{
  border:2px solid rgb(38, 0, 255);
  width:80rem;
  height:auto;
  margin:auto;
  display:flex;
  justify-content: space-between;
}
.stuinfo1{
  /* border:2px solid rgb(51, 255, 0); */
  padding:2rem;
  height:auto;
  font-size:1.2rem;
  width:40rem;
margin:2rem auto 2rem 3rem;
}
.stuinfo1 tr td:first-child{
  /* border:2px solid rgb(51, 255, 0); */
  
  font-weight: 500;
 
 
}
.stuinfo1 button{ 
  background-color: rgb(145, 5, 145);
  
padding:0.2rem 1rem;
  border: none; border-radius:0.2rem ;
   -webkit-border-radius:0.2rem ; 
   -moz-border-radius:0.2rem ;
    -ms-border-radius:0.2rem ;
     -o-border-radius:0.2rem ;

}

.stuinfo2{
  /* border:2px solid rgb(51, 255, 0); */
  float: right;
  height:auto;
  margin:2rem; 

}





.stucontents{
  border:2px solid rgb(38, 0, 255);
  width:80rem;
  height:40rem;
  margin:auto;
}

.stuinfo2  div img{
  width:9rem;
  height:11rem;
  
  object-fit:fill;
}